version: "3.8"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: credit-risk-api
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    networks:
      - credit-risk-network

  ui:
    build:
      context: .
      dockerfile: Dockerfile.ui
    container_name: credit-risk-ui
    ports:
      - "8501:8501"
    volumes:
      - ./src/ui:/app/src/ui # Mount for live editing
    environment:
      - API_URL=http://api:8000
      - PYTHONUNBUFFERED=1
    depends_on:
      - api
    restart: unless-stopped
    networks:
      - credit-risk-network

networks:
  credit-risk-network:
    driver: bridge
